@import "tailwindcss";
html {
  scroll-behavior: smooth; 
}
.hidden-sm {
    @media (max-width: 767px) { /* Adjust breakpoint if needed */
      display: none;
    }
  }
  .dark {
  --background-color: #3D2548;
  --text-color: #eae9eb;
}
 
body {
  background-color: var(--background-color);
  color: var(--text-color);
}